<template name="mangaEdit">
    <form>
        <div>
            <label for"title">Title</label>
            <input name="title" type="text" value="{{title}}" placeholder="Name your manga" />
        </div>
        
        <div>
            <label for="author">Author</label>
            <input name="author" type="text" value="{{author}}" placeholder="Mangaka(s)" />
        </div>

        <div>
            <label for="description">Description</label>
            <textarea name="description">
                {{description}}
            </textarea>
        </div>

        <input class="button" type="submit" value="Submit">
        <hr />

        <a class="delete button alert" href="#">Delete</a>
    </form>
</template>
