@import "packages/bourbon/bourbon";
@import "packages/neat/neat";
@import "packages/foundation5-sass/foundation"; 

/*  COLOR VARIABLES  */
$gold: #FAC13A;
$darkgold: #FFB70F; 
$green: #D2CC32;
$darkgreen: #ACA729;
$whitegold: #FCF6E7;
$purple: #622149;
$teal: #078876;
$red: #D82E2E;
$rose: #F65353;
$offwhite: #FAFAFA;

/*  FONT VARIABLES  */
$source-sans: 'Source Sans Pro', sans-serif;
$arvo: 'Arvo', serif;

/*  BODY  */
body {
    margin: 0;
    padding: 0;
    font-family: $source-sans;
    font-weight: 300;
    a {
        text-decoration: none;
    }
}

/*  HEADER  */
header {
   @include fill-parent;
   background-color: $darkgold;
   height: 75px;
   margin: 0;
   a {
       color: white;
   }
   #logo {
       @include span-columns(8);
       h1 {
           font-family: $arvo;
           font-weight: 900;
           margin: 0 0 0 20px;
           padding: 0;
           text-transform: lowercase;
       }
       .fa.fa-comment-o {
        font-size: 96px;
       }
   }
   #bars {
       @include span-columns(3);
       text-align: right;
       text-transform: uppercase;
       i {
           margin: 0 20px 0 0;
       }
   }
}

/*  NAV  */
/*  MAIN  */
.main {
    @include outer-container;
}

/*  FOOTER  */
footer {
    @include fill-parent;
    background-color: $gold;
    border-top: 5px solid $darkgold;
    color: $whitegold;
    height: 50px;
    a {
        color: $whitegold;
    }
}
