@import "packages/bourbon/bourbon";
@import "packages/neat/neat";
@import "packages/foundation5-sass/foundation"; 

/*  COLOR VARIABLES  */
$gold: #FAC13A;
$darkgold: #FFB70F; 
$darkergold: #F7A916;
$burntorange: #E88F23;
$green: #D2CC32;
$darkgreen: #ACA729;
$whitegold: #FCF6E7;
$purple: #622149;
$teal: #078876;
$red: #D82E2E;
$rose: #F65353;
$offwhite: #FAFAFA;

/*  FONT VARIABLES  */
$source-sans: 'Source Sans Pro', sans-serif;
$arvo: 'Arvo', serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*  BODY  */
body {
    margin: 0;
    padding: 0;
    font-family: $source-sans;
    font-weight: 300;
    a {
        text-decoration: none;
    }
    .button {
        background-color: $burntorange;
    }
}

/*  HEADER  */
header {
   @include fill-parent;
   background-color: $darkgold;
   height: 75px;
   margin: 0 0 75px 0;
   a {
       color: white;
   }
   #logo {
       @include span-columns(8);
       h1 {
           font-family: $arvo;
           font-weight: 900;
           margin: 0 0 0 20px;
           padding: 0;
           text-transform: lowercase;
       }
       .fa.fa-comment-o {
        font-size: 96px;
       }
   }
   #bars {
       @include span-columns(3);
       text-align: right;
       text-transform: uppercase;
       i {
           margin: 0 20px 0 0;
       }
   }
}

/*  NAV  */
nav {
    i {
    padding-right: 1em;
    }
}
/*  MAIN  */
.main {
    @include outer-container;
}

/*  FOOTER  */
footer {
    @include fill-parent;
    background-color: $gold;
    border-top: 5px solid $darkgold;
    color: $whitegold;
    height: 50px;
    margin: 75px 0 0 0;
    text-align: center;
    a {
        color: $whitegold;
    }
}
